Source: crytwi-py
Section: python
Priority: optional
Maintainer: ShXlin Li <lishxlin@outlook.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 python3-setuptools,
 pybuild-plugin-pyproject,
 python3-all (>= 3.13),
 python3-cryptography (>= 44.0),
 libssl-dev (>= 3.5),
#Testsuite: autopkgtest-pkg-python
Standards-Version: 4.7.2
Homepage: https://github.com/lishxlin/crytwi-py
Vcs-Browser: https://github.com/lishxlin/crytwi-py
Vcs-Git: https://github.com/lishxlin/crytwi-py.git

Package: crytwi-py
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 python3-crytwi,
Suggests:
 python-crytwi-doc,
Description: Python library for secure file encryption (metapackage)
 Crytwi Python version or libcrytwi provides several APIs to
 transform raw data st reams and create a Crytwi format file.
 .
 It facilitates the creation of encrypted volumes and supports
 random-access decryption, allow ing users to verify and retrieve
 data from existing Crytwi files with minimal memory overhead.
 .
 This is a metapackage.

Package: python3-crytwi
Architecture: all
Depends:
 python3 (>= 3.13),
 ${python3:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
 python3-cryptography (>= 44.0),
 libssl-dev (>= 3.5),
Suggests:
 python-crytwi-doc,
Description: Python library for secure file encryption (Python 3)
 Crytwi Python version or libcrytwi provides several APIs to
 transform raw data st reams and create a Crytwi format file.
 .
 It facilitates the creation of encrypted volumes and supports
 random-access decryption, allow ing users to verify and retrieve
 data from existing Crytwi files with minimal memory overhead.
 This package installs the library for Python 3.

Package: python-crytwi-doc
Section: doc
Architecture: all
Depends:
 ${misc:Depends},
 man-db,
Description: Python library for secure file encryption (common documentation)
 Crytwi Python version or libcrytwi provides several APIs to
 transform raw data st reams and create a Crytwi format file.
 .
 It facilitates the creation of encrypted volumes and supports
 random-access decryption, allow ing users to verify and retrieve
 data from existing Crytwi files with minimal memory overhead.
 This package installs the library for Python 3.
 .
 This package contains the documentation for crytwi.
Build-Profiles: <!nodoc>
